


// staff-page.scss



.staff-page {
	max-width: 1000px;
	margin: 0 auto;
	background: #fff;
	font-family: 'Open Sans', sans-serif;

	h1 {
		font-weight: 700;
		font-size: 32px;
		/*margin-top: 0;*/
		/*margin-bottom: 0;*/
		/* background: #d9181f; */
		color: #333;
		text-align: center;
		padding: 0px 0px 5px;

		@media screen and (max-width: 730px) {
			margin-bottom: 0 !important;
		}
    }

    .box {
    	background: #f5f5f5;
    	margin-top: 40px;
    	padding: 30px 35px;
    	margin-bottom: 40px !important;

    	@media screen and (max-width: 730px) {
			background: #fff;
			text-align: center;
			border-bottom: 1px solid #eee;
			margin: 30px 70px !important;
			padding: 15px 0px 38px;
    	}

    	@media screen and (max-width: 610px) {
    		margin-left: 20px !important;
    		margin-right: 20px !important;
    	}

    	@media screen and (max-width: 450px) {
    		margin-left: 0px !important;
    		margin-right: 0px !important;
    	}

    	img {
		    float: left;
		    width: 120px;

		    &.small {
		    	display: none;
		    }

		    @media screen and (max-width: 730px) {
		    	float: none;

		    	&.large {
		    		display: none;
		    	}

		    	&.small {
		    		display: inline-block;
		    	}
		    }
		}

		.contact {
		    float: left;
		    width: 500px;
		    margin-left: 30px;

		    @media screen and (max-width: 730px) {
				float: none;
				width: 100%;
				margin-left: 0;
				padding: 0 40px;
		    }

		    h2 {
			    margin-top: -5px;
			    font-size: 25px;
			    font-weight: 700;

			    @media screen and (max-width: 730px) {
			    	margin: 25px 0;
			    }

			    @media screen and (max-width: 610px) {
		    		font-size: 20px;
		    	}
			}

			h3 {
			    font-size: 17px;
			    text-transform: uppercase;
			    font-weight: 700;
			    display: inline-block;
			    margin-top: 0px;
			    margin-bottom: 0px;

			    @media screen and (max-width: 730px) {
			    	display: block;
			    	margin-bottom: 10px;
			    }
			}

			p.email, p.phone {
			    display: inline-block;
			    font-size: 15px;
			    font-weight: 200;
			    margin-bottom: 0;

			    @media screen and (max-width: 730px) {
			    	display: block;
			    }

			    a {
			    	color: #d9181f;;

			    	&:hover {
			    		text-decoration: none;
			    		color: #c6141b;
			    	}
			    }
			}

			p.phone {
			    margin-right: 20px;

			    @media screen and (max-width: 730px) {
			    	margin-right: 0;
			    	margin-bottom: 20px;
			    }
			}

			p.bio {
			    font-weight: 200;
			    line-height: 28px;
			    margin: 15px 0px;

			    @media screen and (max-width: 730px) {
			    	margin: 20px 0;
			    }
			}
		}
    }

    .coordinators {

    	@media screen and (max-width: 730px) {
    		width: 100%;
    		padding: 0 70px;
    	}

    	@media screen and (max-width: 610px) {
    		padding: 0 28px;
    	}

    	h2 {
		    margin-top: 0;
		    font-size: 22px;
		    font-weight: 600;
		}

		p {
		    font-weight: 200;
		    font-size: 16px;
		    line-height: 28px;
		    margin-top: 20px;
		}

		ul {
    		padding-left: 20px;

			li {
			    font-weight: 200;
			    font-size: 16px;
			    margin-top: 18px;
			}
		}

    	.bold {
    		font-weight: 700;
    	}
    }





}